@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 67px;
	box-sizing: border-box;
	font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    animation: fade-in 2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
	body {
        background-color: white;
    }

    h2, p {
	    color: #242424;
	}
}

@media (prefers-color-scheme: dark) {
	body {
        background-color: #242424;
    }

    h2, p {
	    color: white;
	}
}

main {
  max-width: 640px;
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 21px;
}

p {
    line-height: 150%;
	font-size: 16px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

@media(max-width: 500px) {
    body {
        justify-content: flex-end;
        padding: 37px;
    }
}
